################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CloudService.slnx/v18
/.vs/CloudService.slnx/DesignTimeBuild
/.vs/CloudService.slnx/FileContentIndex
/.vs/DotnetFeatures.slnx/FileContentIndex
/.vs/DotnetFeatures.slnx/v18
/.vs/ProjectEvaluation
/.vs
/CloudService/.vs/CloudService.slnx/DesignTimeBuild
/CloudService/.vs/CloudService.slnx/FileContentIndex
/CloudService/bin/Debug/net10.0
/CloudService/obj
/CloudService/.vs
